@import 'reset.css';

/* F6F2B1 - sauce yellow
CA9E67 - text orange
22343E - dark green
A9A9A9 - spoon grey
DBDBDB - spoon reflection grey */

/*fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');

/*

body, html {
    height: 100%;
    margin:0;
}container
*/

/*
container
*/

.container {
    max-width:1200px;
    margin: auto;
}

.site-logo {

    display:block;
    max-width: 200px;
    margin: auto;
    position: absolute;
    top: 10px;
    scale: 80%;
}

/*
site header
*/

.site-header {
    background:#F6F2B1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px 0;
    height:107px;
}

.site-nav {
    font-family: 'Open Sans', sans-serif;


}

.site-nav ul {

    list-style-type:none;
    margin:0;
    display:flex;
    justify-content: space-between;

}

.site-nav li {
    display: block;
    text-transform:uppercase;
    letter-spacing: 2px;



}

.site-nav a {
    display: block;
    padding: 0 50px;
    text-decoration:none;


}

.site-nav a:link,
.site-nav a:visited {
    color:#CA9E67;

}

.site-nav a:hover,
.site-nav a:active {
    color:#22343E;
  
}




/*
Main area
*/

.site-intro{

    background-image: url('images/hero.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    height: 600px;
    padding:30px;
    
}

.site-intro__content {
    position:relative;
   }

.site-intro__title {
    font-size:24px;
    position:absolute;
    right:-70px;
    top:-60px;
    text-align:center;
    background-color:#22343E;
    padding:5px 20px;
    color:white;
    transform:rotate(15deg);
    display:inline-block;
    text-transform: uppercase;
    letter-spacing:2.5px;
    font-size:1.5rem;

}

.text-box {
    font-size:14px;
    background-color:#22343E;
    max-width:400px;
    padding: 10px;
    color:white;
}



/* typography */

body {
    font-family: 'Crimson Text', serif;
}

h1,h2,h3,h4 {
    font-family: 'Open Sans', sans-serif;
}



/*
utilities
*/

.rounded{
    border-radius:10px;
}